.tooltip {
    /* white-space: pre-line; /* Preserves line breaks */
    visibility: hidden; /* Hidden by default */
    position: relative;
    background-color: #fff; /* Customize background color */
    color: #333;         /* Customize text color */
    padding: 6px;
    
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;

    font-size: 11px;
    font-style:normal;
    font-weight: 700;
    font-family: Interstate, sans-serif
    }
  
  .mountaineers-annotation-participant {
    position: relative; /* Added for absolute positioning of tooltip */
  }


.tippy-box {
  background-color: #fff; /* Customize background color */
  color: #333;         /* Customize text color */
  padding: 6px;
  
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  border-width: thin;

  font-size: 11px;
  font-style:normal;
  font-weight: 700;
  font-family: Interstate, sans-serif
}

.tippy-box span.startdate {
  font-weight: normal;
}
